[submodule "src/Submodules/Yaaiomni"]
	path = src/Submodules/Yaaiomni
	url = https://github.com/UnrealMultiple/yaaiomni.git
[submodule "src/Submodules/Crossplay"]
	path = src/Submodules/Crossplay
	url = https://github.com/UnrealMultiple/Crossplay.git
[submodule "src/Submodules/TShockFishShop"]
	path = src/Submodules/TShockFishShop
	url = https://github.com/UnrealMultiple/TShockFishShop.git
[submodule "src/Submodules/TShockWorldModify"]
	path = src/Submodules/TShockWorldModify
	url = https://github.com/UnrealMultiple/TShockWorldModify.git
[submodule "src/Submodules/TShockPlayerManager"]
	path = src/Submodules/TShockPlayerManager
	url = https://github.com/UnrealMultiple/TShockPlayerManager.git
[submodule "src/Submodules/TrProtocol"]
	path = src/Submodules/TrProtocol
	url = https://github.com/UnrealMultiple/TrProtocol.git
[submodule "src/Submodules/VBY.Plugins"]
	path = src/Submodules/VBY.Plugins
	url = https://github.com/UnrealMultiple/MyPlugin.git
