[submodule "src/Submodules/Yaaiomni"]
	path = src/Submodules/Yaaiomni
	url = https://github.com/sgkoishi/yaaiomni.git
[submodule "src/Submodules/Crossplay"]
	path = src/Submodules/Crossplay
	url = https://github.com/UnrealMultiple/Crossplay.git
[submodule "src/Submodules/TShockFishShop"]
	path = src/Submodules/TShockFishShop
	url = https://gitee.com/hufang360/TShockFishShop.git
[submodule "src/Submodules/TShockPlayerManager"]
	path = src/Submodules/TShockPlayerManager
	url = https://gitee.com/hufang360/TShockPlayerManager.git
[submodule "src/Submodules/TShockWorldModify"]
	path = src/Submodules/TShockWorldModify
	url = https://gitee.com/hufang360/TShockWorldModify.git
