name: NET

on:
  push:
    branches: [ "master" ]
    
jobs:
  Build:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Install .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
          
      - name: Build Plugins
        shell: powershell
        run: |
          dotnet build Plugin.sln

      - name: Upload binary files for .NET 6.0
        uses: actions/upload-artifact@v3
        with:
          name: Plugins
          path: out/Debug/${{ matrix.runtimeIdentifier }}
          
      - name: Compress file
        run: |
          Compress-Archive -Path 'out\Debug\' -DestinationPath  'Plugins_6.0.zip'
          
      - name: Prepare release files
        uses: actions/upload-artifact@v3
        with:
          name: Plugins_all
          path: Plugins_6.0.zip
          
  OfficialRelease:
    name: Official Release
    runs-on: ubuntu-latest
    needs: Build
    permissions:
         contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build Changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configurationJson: |
            configurationJson: |
            {
              "template": "#{{CHANGELOG}}",
              "categories": [
                {
                    "title": "## Everything",
                    "labels": []
                }
              ]
            }
            cache: ${{ steps.external_changelog_collect.outputs.cache }}
      - name: Echo External Repo Configuration Changelog
        env:
          CHANGELOG: ${{ steps.external_changelog.outputs.changelog }}
          CHANGELOG_SECOND: ${{ steps.external_changelog_second.outputs.changelog }}
        run: |
          echo ${{ steps.external_changelog_collect.outputs.cache }}
          echo "First:"
          echo "$CHANGELOG"

          echo "Second:"
          echo "$CHANGELOG_SECOND"
          
      - name: Update Official Tag
        run: |
          git tag -f V1.0.0.0
          git push -f origin V1.0.0.0
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: Plugins_all
          path: ./bin
      - name: Update Official Release
        uses: ncipollo/release-action@v1
        with:
          tag: V1.0.0.0
          name: "Official Version"
          body: "每当仓库更新都会更新此Release\n此仓库只有这一个Release.\n${{steps.github_release.outputs.changelog}}"
          artifacts: |
            ./bin/*
          allowUpdates: true
          removeArtifacts: true
          
      
         
  ClearTempArtifacts:
    name: Clear Temp Artifacts
    if: always()
    runs-on: ubuntu-latest
    needs:
      - OfficialRelease
    permissions:
      actions: write
    steps:
      - uses: geekyeggo/delete-artifact@v2
        with:
          name: |
            Plugins_all
